{% extends 'base.html' %} 
{% load static %}
{% block content %}

<body style="background-color: #fafafa;">

<div class="container">
    <div class="border mt-5 p-5 mx-auto" style="width: 450px; 
                                        height: 800px; 
                                        background-color: #ffffff; 
                                        background-image: url({% static 'background.jpg' %});">
        
        <span class="mt-4 d-block mx-auto" style="font-family: cursive; font-size: 80px; color: #ffffff;">Clonestagram</span>
            
            <div class="btn-group" role="group">
                <button 
                    class="btn btn-xs btn-primary btn-block mt-3 w-40 mx-auto" 
                    type="submit"
                    style="border:0; background-color: transparent; border-radius:30px; color: #ffffff; line-height: 1.5em; font-size: 30px;"
                >
                    SIGN IN
                </button>
                <button 
                    class="btn btn-xs btn-primary btn-block mt-3 w-40 mx-auto" 
                    type="submit"
                    style="border:0; background-color: transparent; border-radius:30px; color: #ffffff; line-height: 1.5em; font-size: 30px;"
                >
                   <u> SIGN UP</u>
                </button>
            </div>

        <form method="POST" class="d-flex flex-column">
            {% csrf_token %}

            <label for="Username" class="mt-3" style="color: #c0c0c0; ">Username</label>
            <input
                type="text"
                id="Username"
                name="username"
                value='{{ form.username.value|default_if_none:"" }}'
                class="form-control"
                style="border:0; box-shadow:0 0 15px 4px rgba(0,0,0,0.06); border-radius:30px; background: rgba( 0,0,0,.6); color: #ffffff; "
                placeholder="Type your login here"
                required
            />
            <label for="Email" class="mt-3" style="color: #c0c0c0; ">Email</label>
            <input
                type="text"
                id="inputEmai;"
                name="email"
                value='{{ form.username.value|default_if_none:"" }}'
                class="form-control"
                style="border:0; box-shadow:0 0 15px 4px rgba(0,0,0,0.06); border-radius:30px; background: rgba( 0,0,0,.6); color: #ffffff; "
                placeholder="Type your email here"
                required
            />         
            <label for="Password1" class="mt-3" style="color: #c0c0c0; ">Password1</label >
            <input
                type="password1"
                id="inputPassword"
                name="password"
                class="form-control"
                style="border:0; box-shadow:0 0 15px 4px rgba(0,0,0,0.06); border-radius:30px; background: rgba( 0,0,0,.6); color: #ffffff; "
                placeholder="Type your password here"
                required
            />
            <label for="Password" class="mt-3" style="color: #c0c0c0; ">Password2</label >
            <input
                type="password2"
                id="inputPassword"
                name="password"
                class="form-control"
                style="border:0; box-shadow:0 0 15px 4px rgba(0,0,0,0.06); border-radius:30px; background: rgba( 0,0,0,.6); color: #ffffff; "
                placeholder="Type your password here again"
                required
            />
            <button 
                class="btn btn-lg btn-primary mt-5" 
                type="submit" 
                style="width: 350px; border-radius:30px; height: 40px;"
            >
                <u>Create account</u>
            </button> 
        </form>  
       
    </div>
</div>

{% endblock %}
