{% extends 'base.html' %}
{% load static %}

{% block content %}
 
<body id="idbody"></body>

{% include 'header.html' %}

{% for post in posts %}
    <div class="container">
        <div class="col-md-7" style="margin: 20px;">
            <div class="card border border-dark">
                <div class="card-body">
                    <a href="{% url 'profile' user_id=post.user.id %}" class="card-link text-secondary"> 
                        {{ post.user }}
                    </a>
                    <div class="d-inline-block float-end">{{ post.created_date }}</div>
                </div>
                
                <img src= "{{ post.photo.url }}" class="img-fluid">
                <div class="card-body">
                    <p class="card-text"> <b>{{ post.user }}:</b> {{ post.caption }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="card-link text-secondary" style="text-decoration: underline;"> 
                        {% if post.comm != 0 %}
                            Комментарии ({{ post.comm }})
                        {% else %}
                            Комментарии
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
