<nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark sticky-top" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">
            <img src="/static/logo.jpg" class="img-thumbnail" alt="" style="width: 180px; height: 80px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post_create">Добавить пост</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messenger">Мессенджер</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Настройки
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/edit_profile" class="dropdown-item">Редактировать профиль</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link d-inline" href="{% url 'profile' user_id=user.id %}">
                        <img src= "{{ user.profile.avatar.url }}" class="img-fluid avatarstyle">
                    </a>
                    <a class="nav-link d-inline" href="{% url 'profile' user_id=user.id %}">{{ user.username }}</a>
                    <a class="nav-link d-inline" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
